{% extends "layout.html" %}

{% block content %}
<div class="about">
    <h1>Visualizing Housing Market Trends: An Analysis of Sale Prices and Features using Tableau</h1>
    <div class="about-container">
        <div class="about-text">
            <ul>
                <li>The goal is to address challenges in understanding the factors that influence house prices and sales trends.</li>
                <li>By analysing comprehensive housing data, including the total sales by years since renovation, house age distribution by the number of bathrooms, bedrooms, and floors, and the impact of renovations on house age, the company aims to uncover key insights.</li>
                <li>Utilizing Tableau for this analysis, the objective is to visualize and interpret patterns in the housing market to inform strategic decisions, optimize pricing strategies, and enhance overall market competitiveness.</li>
            </ul>
        </div>
        <div class="about-image">
            <img src="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-4.0.3&auto=format&fit=crop&w=800&q=80" alt="Housing project">
        </div>
    </div>
</div>
{% endblock %}